* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(220, 233, 238);
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
  border-radius: 37px;
  background-color: #f8fbff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.area-work {

  border-radius: 37px;
  overflow: hidden;
  padding: 10px;
}

.body-part {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  height: 100%;
}

.app-container{
  min-height: 100vh;
  padding: 20px;
}