* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(220, 233, 238);
  height: 100vh;
}

.app-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  background-color: rgb(220, 233, 238); /* Optional, repeated for clarity */
}

.main {
  width: 98%;
  height: 95%;
  border-radius: 37px;
  background-color: #f8fbff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.area-work {
  border-radius: 37px;
  overflow: hidden;
  padding: 10px;
}

.body-part {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  height: 100%;
}

@media (max-width: 768px) {
  .main{
    border-radius: 0px;
  }
  .body-part {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }

  .first-1-col,
  .sec-2-col,
  .third-3-col {
    width: 100%;
  }
}
.app-container{
  min-height: 100vh;
  padding: 0px;
}